<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <div id="center">
    <div class="row" id="frontpage">
      <div class="small-12 text-center", id="frontlogo">
      <%= image_tag("logo.gif", id:"frontlogo") %>
    </div>
    <div class="row" id="frontpage">
      <div class="small-12 columns text-center landing-button">
        <a href="#" data-reveal-id="myModal" class="button" id="front-button">Log In Or Sign Up</a>
        <div id="myModal" class="reveal-modal remove-whitespace" data-reveal>
          <div class="row">
            <div class="large-6 columns auth-plain">
              <div class="signup-panel left-solid">
                <p class="welcome">Registered Users</p>
                <%= form_for(@resource, as: :user, url: session_path(:user)) do |f| %>
                <div class="row collapse">
                  <div class="small-12  columns">
                    <div class="field">
                      <%= f.email_field :email, autofocus: true, placeholder: "email" %>
                    </div>
                  </div>
                </div>
                <div class="row collapse">
                  <div class="small-12 columns ">
                    <%= f.password_field :password, autocomplete: "off", placeholder: "password" %>
                  </div>
                </div>
                <%= f.submit "Log in", class: "button" %>
                <% end %>
              </div>
            </div>
            <div class="large-6 columns auth-plain">
              <div class="signup-panel newusers">
                <p class="welcome"> New User?</p>
                <p>By creating an account with us, you will be able to pleace orders for reagents, and more.</p><br>
                <%= link_to "Sign Up", new_user_registration_path, class: "button" %></br>
              </div>
            </div>
          </div>
          <a class="close-reveal-modal">&#215;</a>
        </div>
      </div>
    </div>
  </div>
</div>
<%= include_gon(:init => true) %>
<%= javascript_include_tag 'application' %>
<%= javascript_tag do %>
$(function(){
  $(document).foundation();
});
<% end %>
<%= yield :extra_footer %>

</body>
<html>
