<div class="row add-top">
  <%= form_for(@order) do |f| %>
  <div class="small-12 columns">
    <fieldset>
      <legend>Order Details</legend>
      <div class="row">
        <div class="small-6 columns edit">
          <p class="infolabel edit">Machine</p>
          <%= @order.machine.name %>
        </div>
        <div class="small-6 columns edit">
            <%= f.label :status , class: "edit" %>
            <%= f.select(:status, [["In Progress", "In Progress"],["Done", "Done"],["To Do", "To Do"]]) %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns edit">
          <div class="infolabel edit">
            Placed By
          </div>
          <% if @order.user != nil %>
            <p class="edit"> <%= @order.user.first_name %><p>
          <% else %>
            None
          <% end %>
        </div>
        <div class="small-6 columns edit">
          <%= f.label :needed_by, class: "edit" %>
          <%= f.date_field :needed_by, class: "edit" %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns info">
          <%= f.label :comment, class: "infolabel edit" %>
          <%= f.text_area :comment %>
        </div>
      </div>
      <div class="row">
        <div class="small 1 columns end info infolabel">
          Kits
        </div>
        <div class="small-10 small-centered columns info">
          <table class="tablesorter">
            <thead class="info">
              <tr>
                <th class="infolabel" width="200">Kit</th>
                <th class="infolabel" width="200">Amount</th>
                <th class="infolabel" width="200">Lot #'s</th>
              </tr>
            </thead>
            <tbody>
              <%= f.fields_for :kit_orders, @order.kit_orders do |ff| %>
                <tr>
                  <td><%= ff.label :name, ff.object.name %></td>
                  <td><%= ff.label :amount, ff.object.amount %></td>
                  <td><%= ff.text_area :lot_numbers %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </div>
  <%= f.submit "Update", class: "button" %>
  <% end %>
</div>
