<div class="row">
  <div class="small-10 small-centered columns">
    <table class="tablesorter">
    <thead>
      <tr>
        <th width="200">Machine</th>
        <th width="200">Status</th>
        <th width="150">Due Date</th>
        <th width="150">Date Created</th>
        <th width="150">Orderd By</th>
        <th width="150">Details</th>
      </tr>
    </thead>
    <tbody>
      <% if @orders != nil %>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.machine.name %></td>
          <td><%= order.status %></td>
          <td><%= order.needed_by%></td>
          <td><%= order.created_at %></td>
          <% if order.user != nil %>
            <td><%= order.user.first_name %></td>
          <% else %>
            <td>None</td>
          <% end %>
          <td><%= link_to "Details", order_path(order),
                  class: "button info small", id: order.id %></td>
        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
</div>
