<div class="row add-top">
  <div class="small-12 columns">
    <fieldset>
      <legend>Order Details</legend>
      <div class="row">
        <div class="small-6 columns info">
          <div class="infolabel">
            Machine
          </div>
          <%= @order.machine.name %>
        </div>
        <div class="small-6 columns info">
          <div class="infolabel">
            Status
          </div>
          <%= @order.status %>
        </div>
      </div>
      <div class="row">
        <div class="small-6 columns info">
          <div class="infolabel">
            Placed By
          </div>
            <% if @order.user != nil %>
              <%= @order.user.first_name %>
            <% else %>
              None
            <% end %>
        </div>
        <div class="small-6 columns info">
          <div class="infolabel">
            Date Needed
          </div>
          <%= @order.needed_by %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns info">
          <div class="infolabel">
            Comments
          </div>
          <%= @order.comment %>
        </div>
      </div>
      <div class="row">
        <div class="small 1 columns end info infolabel">
          Kits
        </div>
        <div class="small-10 small-centered columns info">
          <table class="tablesorter">
            <thead class="info">
              <tr>
                <th class="infolabel" width="200">Kit</th>
                <th class="infolabel" width="200">Amount</th>
                <th class="infolabel" width="200">Lot #'s</th>
              </tr>
            </thead>
            <tbody>
              <% @kit_orders.each do |kit_order| %>
              <tr>
                <td><%= kit_order.name %></td>
                <td><%= kit_order.amount %></td>
                <td><%= kit_order.lot_numbers %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  <%= link_to "Update Status", edit_order_path(@order), class: "button" %>
</div>
</div>
