<div class="row">
  <div class="small-10 small-centered columns">
    <table class="tablesorter">
      <thead>
        <tr>
          <th width="200">Email</th>
          <th width="100">Name</th>
          <th width="150">Sign Up Date</th>
          <th width="100">Details</th>
          <th width="100">Delete</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first_name %> <%= user.last_name %> </td>
          <td><%= user.created_at.strftime("%m/%d/%Y") %></td>
          <td><%= link_to image_tag("info.svg", size: "20x10", class: "tableicon"), admin_user_path(user),
                  id: user.id %></td>
          <td><%= link_to image_tag("trash.svg", size: "20x10", class: "tableicon"), admin_user_path(user),
                  method: :delete,
                  id: "delete#{user.id}",
                  data: { confirm: "Are you sure?"} %> </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-3 small-centered columns">
    <%= paginate @users %>
  </div>
</div>
