<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>BreakableToy</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Header and Nav -->
  <div class="row">
    <div class="large-3 columns">
      <h1><%= image_tag("broadlogo_normal.jpg", id:"logo")%></h1>
    </div>
    <div class="large-9 columns">
    </div>
  </div>

  <!-- End Header and Nav -->

  <div class="row">
    <div class="large-9 push-3 columns">
      <%- flash.each do |key, value| -%>
      <div data-alert class=" alert-box text-center flash flash-<%= key %>">
        <%= value %>
      </div>
      <%- end -%>
  <%= yield %>
    </div>
    <div class="large-3 pull-9 columns">
      <ul class="side-nav">
        <li><%= link_to "Orders", orders_path %></li>
        <li><%= link_to "New Order", new_order_path %></li>
        <li><%= link_to "Metrics", metrics_path %></li>
        <% if current_user != nil %>
          <% if current_user.role == "admin" %>
          <li><%= link_to "Manage Orders", admin_orders_path %></li>
          <li><%= link_to "Manage Users", admin_users_path %></li>
        <% end %>
        <% end %>
        <%- if current_user -%>
        <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </div>
  </div>
  <%= include_gon(:init => true) %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
    $(function(){
      $(document).foundation();
    });
  <% end %>
  <%= yield :extra_footer %>
</body>
</html>
